<!DOCTYPE html>
<html>
<head>
	<title>WebGL test</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/prism.css" />
</head>
</body>
	<div id="app">
		<!--<header>
			<div id="app-title">Framework test</div>
			<div id="title">Test</div>
			<ul id="topnav">
				<li v-for="s in sections">
					<a :class="{ hl: section.name == s.name }" v-on:click="setView(s)">{{ s.name }}s</a>
				</li>
			</ul>
		</header>-->

			<!-- listitem template -->
			<script type="text/x-template" id="listitem-template">
				<li>
					<div v-on:mouseover="info">
						<span v-on:click="open = !open" class="batch">
							{{{ icon ? level > 1 ? icon[1] : icon[0] : '' }}}
							<span v-if="hasData" v-show="!open">{{{ '&#xf01d' }}}</span>
						</span>
						<editable :src="section.src" :lv="level" :value="item.name" :idx="index"></editable>

						<button v-if="level > 0" class="batch conf" v-on:click="addSub">&#xe9e3;</button>
						<button v-if="level > 0" class="batch warn" v-on:click="remove">&#xe9e8;</button>
					</div>						
					<ul class="sub" v-if="hasData" v-show="open">
						<listitem v-for="item in item.data" 
							:section="section" :level="level+1" :icon="icon" :item="item" :index="$index">
						</listitem>
					</ul>
				</li>
			</script>

			<!-- single editable item -->
			<script type="text/x-template" id="item-editable">
				<span>
					<span v-on:dblclick="rename" v-show="!selected">
						{{ values[0] }}
						<i v-if="values[1]">{{ values[1] }}</i>
					</span>
					<input v-el:field v-model="value"
						v-on:keyup="updateSrc"
						v-on:keyup.enter="update"
						v-on:keyup.esc="deselect" v-on:blur="deselect"/>
				</span>
			</script>

			<div class="sidebar left">
				<ul class="icon-nav">
					<li v-for="s in sections">
						<a :class="{ hl: section.name == s.name }" v-on:click="setView(s)">
							<span class="batch">{{{ s.icon[0] }}}</span>
						</a>
					</li>
				</ul>
				<div class="input-w">
					<input v-model="newItem" v-on:keyup.enter="addItem" 
						placeholder="Enter new {{ section.name }}"/>
				</div>

				<ul class="hierarchy">
					<listitem :section="section" :level="0" :icon="section.icon" 
						:item="sectionData" :index="$index">
					</listitem>
				</ul>
			</div>

			<div class="sidebar right">
				<h3>{{ section.name }} Properties</h3>
			</div>

			<div class="center">
				<div class="center-container">
					<viewport></viewport>
				</div>
			</div>
		<!-- 
		<footer>
			<div id="info-text">{{ info }}</div>
		</footer> -->
	<script src="lib/vue.js"></script>
	<script src="lib/prism.js"></script>
	<script src="framework.js"></script>
	<script src="editor.js"></script>
</body>
</html>